/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: 'Clear Sans Medium';
  line-height: 1.5;
}
h1 {
  font-size: 45px;
  font: 'Clear Sans Medium';
  animation-name: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

a {
 display: inline-block;
  position: relative;
  margin: 2px;
  border: 0px;
  padding: 5px;
  /*width: 70px;*/
  height: 30px;
  font-size: smaller;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  cursor: pointer;
  background: #B58EFD;
  border-radius: 5px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.15);
}
a:hover {
  top: 1px;
  height: 29px;
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.15);
}
a:active {
  top: 4px;
  height: 26px;
  box-shadow: inset 0 -25px rgba(0, 0, 0, 0.15);
}
@keyframes rainbow {
  0% {color: #ff0000}
  8% {color: #ff7700}
  16% {color: #ffff00}
  24% {color: #aaff00}
  32% {color: #00ff00}
  40% {color: #00ffaa}
  48% {color: #00ffff}
  56% {color: #00aaff}
  64% {color: #0000ff}
  72% {color: #7700ff}
  80% {color: #ff00ff}
  88% {color: #ff0077}
  96% {color: #ff0000}
  100% {color: red}
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}